<header class="main-header" xmlns:th="http://www.thymeleaf.org">

  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>G</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>MARATHON</b></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">  
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <!--
          <a>
            <img src="assets/dist/img/avatar.png" class="user-image" alt="User Image"/>
            <span class="hidden-xs">Se déconnecter</span>
          </a>
          -->
     		
          <ul class="dropdown-menu">
	            <!-- User image -->
	            <li class="user-header">
	              <img src="assets/dist/img/admin.png" class="img-circle" alt="User Image"/>
	
	              <p>
	                GROUPE - MIAGE
	                <small>MIAGE-Olympique</small>
	              </p>
	            </li>
            </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>

  </nav>
</header>
