<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{template}">
	<head>
		<meta charset="UTF-8"/>
		<title>Categorie</title>
	</head>
	<body>
		<div layout:fragment="content">
			<!-- Main content -->
			<section class="content">
			  <div class="row">
				<div class="col-xs-12">
				  <div class="box col-xs-6"><br/>
				  	<div class="row">
						<div class="col-xs-12">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Tous les participants</h3>
								</div>
							</div>
						</div>
					</div>
			   		
					 <!--Modal Formulaire de Suppression -->
					<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Confirmation Suppression</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body">
							  <h3><p class="alert alert-default" style="color: red;">Voulez-vous vraiment supprimer cette délégation ?</p></h3>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Non</button>
							<a href="" class="btn btn-success" id="delete">Oui</a>
						  </div>
						</div>
					  </div>
					</div>
				<div class="box-body">
					<table id="example2" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Délégation</th>
								<th>Nom</th>
								<th>Prénom</th>
                                <th>Email</th>
								<th>Details</th>
								<th>Supprimer</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p:${participants}">
						  		<td th:text="${p.delegation.nom}"></td>
                                <td th:text="${p.nom}"></td>
                                <td th:text="${p.prenom}"></td>
                                <td th:text="${p.email}"></td>
								<td>
									<a th:href="@{/organisateur/participants(id=${p.id})}"><i class="fa fa-fw fa-eye"></i></a>
								</td>
						  		<td>
							  		<a th:href="@{/organisateur/all-participants/delete(id=${p.id})}" class="del"><i style="color: red;" class="fa fa-fw fa-trash"></i></a>
						  		</td>
                                
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Délégation</th>
								<th>Nom</th>
								<th>Prénom</th>
                                <th>Email</th>
								<th>Details</th>
								<th>Supprimer</th>
							</tr>
						</tfoot>
					  </table>
					</div>
				  </div>
				</div>
			  </div>
			</section>
		</div>
	</body>
</html>