<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{template}">
	<head>
		<meta charset="UTF-8"/>
		<title>Utilisateur</title>
	</head>
	<body>
		<div layout:fragment="content">
			<!-- Main content -->
			<section class="content">
			  <div class="row">
				<div class="col-xs-12">
				  <div class="box col-xs-6"><br/>
				  	<div class="row">
						<div class="col-xs-12">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Liste des utilisateurs</h3>
								</div>
							  	<div class="box-body">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
								   		<i class="fa fa-fw fa-plus"></i> Créer un organisateur/controleur
								  	</button>
								</div>
							</div>
						</div>
					</div>
			   		<!--Modal Formulaire d'ajout -->
					<div class="form">
						<form th:action="@{/organisateur/users/new}" method="post" name="formSave">
							<div class="modal fade" id="modal-default">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Formulaire d'ajout épreuve</h4>
										</div>
										<div class="modal-body">
											<div class="col-md-12">
												<div class="row">
													<div class="form-group">
														<label>Prénom *</label>
														<input type="text" name="prenom" required = "required" id="prenom" class="form-control" placeholder="Entrer le prénom"/>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<label>Nom *</label>
														<input type="text" name="nom" required = "required" id="nom" class="form-control" placeholder="Entrer le nom"/>
													</div>
											  	</div>
												<div class="row">
													<div class="form-group">
														<label for="role">Role *</label>
														<select id="roles" name="roles" multiple class="form-control">
															<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
														</select>
													</div>
												</div>
											  <div class="row">
												<div class="form-group">
													<label>Email</label>
													<input type="email" name="email" id="email" class="form-control" required = "required" placeholder="Entrer l'email"/>
												</div>
											  </div>
											  <div class="row">
												<div class="form-group">
													<label>Password</label>
													<input type="password" name="password" id="password" class="form-control" required = "required" placeholder="Entrer le password"/>
												</div>
											  </div>
											  <div class="row">
												<div class="form-group">
													<label>Password</label>
													<input type="password" name="retypePwd" id="retypePwd" class="form-control" required = "required" placeholder="Confirmer le password"/>
												</div>
											   </div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">fermer</button>
											<input type="submit" class="btn btn-facebook" value="enregistrer" id="btnSave"/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					 <!--Modal Formulaire de Suppression -->
					<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Confirmation Suppression</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body">
							  <h3><p class="alert alert-default" style="color: red;">Voulez-vous vraiment supprimer l'épreuve ?</p></h3>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Non</button>
							<a href="" class="btn btn-success" id="delete">Oui</a>
						  </div>
						</div>
					  </div>
					</div>

				<!-- Formulaire de modification -->
				<div class="formEdit">
					 <form th:action="@{/organisateur/users/edit}" method="post" name="formSave">
						<div class="modal modal-default fade" id="modal-primary">
						  <div class="modal-dialog">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Formulaire de modification Organisateur/Controleur</h4>
							  </div>
							  <div class="modal-body">
								 <div class="box-body">
									 <div class="row">
										 <div class="col-md-12">
											 <div class="row">
												 <div class="form-group">
													 <label>Identifiant</label>
													 <input type="text" readonly name="id" id="idUser" class="form-control" placeholder="Id délégation"/>
												 </div>
                                                <div class="form-group">
													<label>Prénom *</label>
													<input type="text" name="prenom" required = "required" id="prenom" class="form-control" placeholder="Entrer le prénom complet"/>
												</div>
 												<div class="form-group">
													<label>Nom *</label>
													<input type="text" name="nom" required = "required" id="nom" class="form-control" placeholder="Entrer le nom complet"/>
												</div>
												<div class="form-group">
													<label for="role">Role *</label>
													<select id="role" name="roles" multiple class="form-control">
														<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
													</select>
												</div>
                                                <div class="form-group">
													<label>Email</label>
													<input type="email" name="email" id="email" class="form-control" required = "required" placeholder="Entrer l'email"/>
												</div>
                                                <div class="form-group">
													<label>Password</label>
													<input type="password" name="password" id="pwd" class="form-control" required = "required" placeholder="Entrer le password"/>
												</div>
												<div class="form-group">
													<label>Password</label>
													<input type="password" name="retypePwd" id="retypePwd" class="form-control"  placeholder="Confirmer le password"/>
												</div>
											 </div>
										 </div>
									 </div>
								 </div>
							  </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
								<input type="submit" class="btn btn-primary" value="Enregistrer" id="btnSave"/>
							  </div>
							</div>
						  </div>
						</div>
					 </form>
				</div>
				<div class="box-body">
					<table id="example2" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Modifier</th>
								<th>Prénom & Nom</th>
                                <th>Email</th>
                                <th>Password</th>
								<th>Role</th>
								<th>Supprimer</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u:${users}">
								<td>
									<a th:href="@{/organisateur/users/findOne(id=${u.id})}" th:if="${acces.contains('ROLE_ORGANISATEUR')}" class="editUser"><i class="fa fa-fw fa-edit"></i></a>
								</td>
						  		<td th:text="${u.name}"></td>
                                <td th:text="${u.email}"></td>
                                <td th:text="${u.password}"></td>
								<td>
									<span th:if="${u.roles != null}">
										<span th:each="role, iterStat : ${u.roles}">
											<span th:text="${role.name}"></span>
											<br th:unless="${iterStat.last}"> <!-- Ajouter un saut de ligne si ce n'est pas le dernier élément -->
										</span>
									</span>
								</td>
						  		<td>
							  		<a th:href="@{/organisateur/users/delete(id=${u.id})}" th:if="${acces.contains('ROLE_ORGANISATEUR')}" class="del"><i style="color: red;" class="fa fa-fw fa-trash"></i></a>
						  		</td>
                                
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Modifier</th>
								<th>Prénom & Nom</th>
                                <th>Email</th>
                                <th>Password</th>
								<th>Role</th>
								<th>Supprimer</th>
							</tr>
						</tfoot>
					  </table>
					</div>
				  </div>
				</div>
			  </div>
			</section>
		</div>  
	</body>
</html>